.root {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	row-gap: 10px;
	border: 1px solid var(--border);
	border-radius: 10px;
	padding: 30px;

	h3 {
		color: var(--baseBlue);
		font-size: clamp(0.875rem, 0.8056rem + 0.3704vw, 1.25rem);
		font-weight: 700;
	}

	.words {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		margin-bottom: 10px;

		a {
			color: #282828;
			font-size: clamp(0.875rem, 0.8056rem + 0.3704vw, 1.25rem);
			font-weight: 400;
			line-height: 150%;
		}
	}

	.linkToAll {
		display: flex;
		align-items: center;
		gap: 10px;
		color: var(--baseBlue);

		@media (max-width: 1006px) {
			gap: 5px;
		}

		span {
			font-size: clamp(0.875rem, 0.8056rem + 0.3704vw, 1.25rem);
			font-weight: 500;
			line-height: 150%;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}
}