@import 'src/assets/styles/base/mixin';

.root {
	border-radius: 10px;
	border: 1px solid var(--border);
	margin: 50px;
	padding: 20px;
	h2 {
		color: var(--textColor);
		font-weight: 600;
		@include adaptiv-font(32, 22, 32);
		line-height: 140%;
	}
	.type {
		color: #cecece;
		@include adaptiv-font(18, 14, 18);
		line-height: 150%;
	}
	.desc {
		color: #333;
		@include adaptiv-font(18, 14, 18);
		line-height: 150%;
		margin: 10px 0 20px;
	}
}
