@import 'src/assets/styles/base/mixin';

.root {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	.wrapper {
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		position: relative;
		border: 1px solid var(--border);
		border-radius: 10px;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		padding: 15px 25px;
		.search {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #8c8c8c;
			font-size: 24px;
		}

		input {
			width: 100%;
			@include adaptiv-font(18, 12, 20);

			color: #000;
		}
		.clearButton {
			font-size: 20px;
			background-color: transparent;
			color: #8c8c8c;
		}
	}
	.searchResults {
		position: absolute;
		top: 80px;
		width: 50%;
		// left: 0;
		z-index: 100;
		display: flex;
		background-color: #fff;
		flex-direction: column;
		box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.25);
		border: 1px solid var(--border);
		border-radius: 10px;
		row-gap: 2px;
		a {
			&:last-child {
				border-radius: 10px;
			}
			border-bottom: 1px solid var(--border);
			padding: 0 20px;
			@include adaptiv-font(18, 14, 18);
			font-weight: 500;
			color: var(--textColor);

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
