.root {
	display: flex;
	flex-direction: column;
	padding: 30px;
	row-gap: 20px;
	.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h2 {
			font-size: clamp(1.25rem, 1.2037rem + 0.2469vw, 1.5rem);
		}
	}
}
