.root {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	.title {
		font-size: 32px;
		color: --textColor;
		font-weight: 600;
	}
	.frameWrapper {
		display: flex;
		align-items: flex-start;
		gap: 30px;
		@media (max-width: 1400px) {
			flex-direction: column;
		}
		.frame {
			iframe {
				width: 750px;
				height: 444px;
				@media (max-width: 1440px) {
					width: 650px;
				}
				@media (max-width: 1200px) {
					width: 550px;
				}
			}
		}
		.card {
			display: flex;
			flex-direction: column;
			padding: 30px 10px 30px 30px;
			row-gap: 20px;
			border-radius: 10px;
			border: 1px solid var(--border);
			h3 {
				color: --textColor;
				font-size: 20px;
				font-weight: 500;
			}
			p {
				color: --textColor;
				font-size: 18px;
				font-weight: 400;
				line-height: 150%;
				span {
					color: var(--baseBlue);
					cursor: pointer;
				}
			}
			.link {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				color: var(--baseBlue);
				gap: 10px;
				font-size: 20px;
				font-weight: 500;
				margin-right: 20px;
			}
		}
	}
}
