@import 'src/assets/styles/base/mixin';
.root {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	gap: 30px;
	.statistic {
		border: 1px solid;
		padding: 15px 30px;
		border-radius: 30px;
		background-color: rgb(242, 255, 255);
	}
}
