.root {
	padding: 120px 200px;
	@media (max-width: 1400px) {
		padding: 80px 120px;
	}
	@media (max-width: 1100px) {
		padding: 40px 80px;
		row-gap: 80px;
	}
	@media (max-width: 920px) {
		row-gap: 50px;
	}
	@media (max-width: 540px) {
		padding: 20px 40px;
	}
	@media (max-width: 350px) {
		padding: 20px 10px;
	}
	.title {
		margin-bottom: 20px;
		color: var(--textColor);
		font-size: clamp(1.375rem, 1.2593rem + 0.6173vw, 2rem);
		font-weight: 600;
		line-height: 130%;
	}
	.list {
		border-radius: 10px;
		border: 1px solid var(--border);
		padding: 20px 60px;
		row-gap: 10px;
		margin-bottom: 40px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

		@media (max-width: 1400px) {
			grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
		}
		@media (max-width: 1150px) {
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}
		@media (max-width: 975px) {
			grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		}
		@media (max-width: 620px) {
			grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		}
		@media (max-width: 440px) {
			grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
		}
		a {
			padding: 5px;
			color: #000;
			list-style: disc outside none;
			display: list-item;
			
		}
	}
	.pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
